* {
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.footer {
  background-color: #1f2430;
  color: #c3c3c3;
  padding: 60px 40px 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-box {
  flex: 1;
  min-width: 250px;
}

.brand {
  font-size: 40px;
  color: #e6a86d;
}
.footer-title {
  color: #e6a86d;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.footer-text {
  margin: 15px 0;
  line-height: 1.5;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.icon {
  width: 40px;
  height: 40px;
  border: 1px solid #777;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter {
  display: flex;
  margin-top: 15px;
}

.newsletter input {
  flex: 1;
  padding: 12px;
  border: none;
  background: #343a48;
  color: white;
}

.send-btn {
  background-color: #d19c63;
  border: none;
  padding: 0 20px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

/* BOTTOM FOOTER */
.footer-bottom {
  border-top: 1px solid #343a48;
  padding-top: 20px;
  text-align: center;
}

.bottom-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 20px;
}

.bottom-links a {
  color: #c3c3c3;
  text-decoration: none;
}

.bottom-links a:hover {
  color: #e6a86d;
}

.footer-bottom a {
  color: #e6a86d;
}
.contact-details {
  margin-bottom: 5px;
}
