*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Arial, sans-serif; */
}

.hero-slider {
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
}

.arrow-container {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
}

.arrow-icon {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 100%;
  padding: 10px;
}

.arrow-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.text-white {
  color: white !important;
}

/*  */
.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 10px;
}

.subtitle,
.title {
  text-align: center;
}

.subtitle {
  color: #dfa974;
}
.title {
  color: #333333;
  font-family: serif;
  font-size: 2.5rem;
}

.services-container {
  display: flex;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.service-card {
  flex: 0 0 calc(33.333% - 20px);
  /*  */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
  transition: 0.3s;
}

.service-card svg.feather {
  color: #dfa974;
}

.service-card h3 {
  margin-top: 10px;
  font-family: serif;
  text-align: center;
}

.service-card:hover {
  background-color: #dfa974;
  color: #fff;
}

.service-card:hover svg.feather {
  stroke: #fff;
}
.service-card p {
  text-align: center;
}

/*  */
@media only screen and (max-width: 430px) {
  .hero-slider {
    aspect-ratio: 3/2;
  }
  .service-card {
    flex: 100%;
  }
}

@media only screen and (min-width: 430px) {
  .hero-slider {
    height: 70vh;
  }
}
/* WRAPPER SO BUTTONS STAY IN CORRECT PLACE */
.testimonial-wrapper {
  position: relative; /* IMPORTANT */
  width: 100%;
  padding: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* INNER BOX */
.testimonial-box {
  text-align: center;
  max-width: 700px;
}

/* Arrows for testimonials */
.nav-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #444;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t-left {
  left: 15%;
}
.t-right {
  right: 15%;
}

.testimonial-section {
  width: 100%;
  padding: 80px 0;
  text-align: center;
}

.sub-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  color: #c58b5f;
  margin-bottom: 10px;
}

.title {
  font-size: 36px;
  margin-bottom: 25px;
}

.testimonial-text {
  max-width: 700px;
  margin: 0 auto 25px;
  font-size: 17px;
  line-height: 1.6;
  color: #555;
}

.stars {
  color: #ffb400;
  font-size: 20px;
  margin-bottom: 5px;
}

.author {
  margin-bottom: 25px;
  font-size: 18px;
}
