body {
  font-size: 20px;
}
.nav-bar {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  color: black;
  background-color: blue;
  padding: 10px;
  align-items: center;
}
.contacted {
  display: flex;
  gap: 20px;
}
.Carousel-container {
  display: flex;
  justify-content: space-between;
  height: 500px;
}
.carousel-item {
  align-self: center;
}

.slide2 {
  width: 100px;
  height: 100px;
}
.slide3 {
  width: 100px;
  height: 100px;
}
.slide4 {
  width: 100px;
  height: 100px;
}

.slide5 {
  width: 100px;
  height: 100px;
}
